name: chewie
description: A video player for Flutter with Cupertino and Material play controls
version: 1.8.5
homepage: https://github.com/fluttercommunity/chewie

environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: ">=3.19.0"

dependencies:
  cupertino_icons: ^1.0.5
  flutter:
    sdk: flutter
  provider: ^6.1.2
  wakelock_plus: ^1.2.8
  video_player:
    git:
      url: https://github.com/Nicolas-Pla/flutter-packages.git
      path: packages/video_player/video_player
      ref: "feature/#60048-ios-picture-in-picture"

dependency_overrides:
  video_player_android:
    git:
      url: https://github.com/Nicolas-Pla/flutter-packages.git
      path: packages/video_player/video_player_android
      ref: "feature/#60048-ios-picture-in-picture"
  video_player_avfoundation:
    git:
      url: https://github.com/Nicolas-Pla/flutter-packages.git
      path: packages/video_player/video_player_avfoundation
      ref: "feature/#60048-ios-picture-in-picture"
  video_player_platform_interface:
    git:
      url: https://github.com/Nicolas-Pla/flutter-packages.git
      path: packages/video_player/video_player_platform_interface
      ref: "feature/#60048-ios-picture-in-picture"

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
